---
import Hero from '../components/Hero.astro';
import Typetest from '../components/Typetest.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="DevHub">
	
	<main class="bg-lime">
		
		
		<Hero/>
	</main>
	<div class="flex justify-center items-center">
		<h1 id="typewriter" class="text-4xl font-bold"></h1>
		<Typetest/>
	</div>
	
</Layout>

