---
import Gallery from '../components/Gallery.astro';
import Hero from '../components/Hero.astro';
<<<<<<< HEAD
import Typetest from '../components/Typetest.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="DevHub">
	
	<main class="bg-lime">
		
		
		<Hero/>
	</main>
	<div class="flex justify-center items-center">
		<h1 id="typewriter" class="text-4xl font-bold"></h1>
		<Typetest/>
	</div>
	
=======
import Typewriter from '../components/Typewriter.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="DevHub CL">
	<main class="bg-black text-[#f6f5ff]">
		<Typewriter/>
		<Hero/>
		<Gallery/>
>>>>>>> 395199d3333da8a62b8dd0d312a4040cb2407da2
</Layout>

