---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Whats from "../components/Whats.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/isotipo1080x1080blancosinfondo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7Q1Y3EBPCK"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7Q1Y3EBPCK');
</script>
	<body class="bg-black font-SpaceGrotesk">
		<Whats/>
		<Navbar />
		<slot />
		<Footer/>
	</body>
</html>